.galeri-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
 background: linear-gradient(135deg, #545454, #5d5d5d);
}
.galeri-foto {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
 
  transition: transform 0.3s ease;
}

.galeri-foto:hover {
  transform: scale(1.05);
}
